@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden !important;
    background: #FEDEFF;
}

.main{
    position: relative;
    background-position: center;
    text-align: center;
   overflow-x: hidden;
}

.navbar{
    background: #FAD3E7 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navbar-brand{
    font-family: 'Anton', sans-serif;
    padding: 10px;
    border: 1px solid #a42f6b35;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#spinner{
 color: rgb(253, 249, 249);
visibility: hidden;
}

#result{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#reset{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-heart-circle-xmark{
    color: rgba(218, 93, 11, 0.918);
    font-size: larger;
}

label{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    background-color: #fad3e72d;
    padding: 5px;
    border-radius: 5px;
}
@media (max-width: 600px){
    label{
        font-family: 'Anton', sans-serif;
        font-size: 25px;
        background-color: #fad3e72d;
        padding: 5px;
        border-radius: 5px;
    }

    
}

p, .nav-link{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}

@media (min-width: 992px) {
    .nav-link{
        border: 1px solid whitesmoke;
        margin: 5px;
        border-radius: 5px;
        background-color: #FEDEFF;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}

.nav-link:hover{
    background-color: #FAD3E7;
    transform: translateY(-2px);
    transition: .30s ease-in-out;
}

button{
    padding: 15px !important;
}

#reset{
    transition: .30s ease-in-out;
}

.card{
    padding: 15px;
}